$color-primary: #637E90;
$color-secondary: #f6f8f8;
$color-pale: #2B6670;
$color-mid: #77A7B0;

$body-font: 'Mulish', sans-serif;
$header-font: 'ZCOOL XiaoWei', serif;

nav {
  background-color: $color-primary;
}


#navName {
  font-family: $header-font;
  font-size: 2rem;
}

 body {
  font-family: $body-font;
  
}

/* Intro */

#introH1 {
  font-weight: 900;
  font-size: 4rem;
  font-family: $header-font;
  position: relative;
  animation: introNme 2s linear forwards;
}

#introPic {
  position: relative;
  animation: movepic 2s linear forwards;
  background-color: $color-secondary;
  box-shadow: 0 0 59px 0 rgba(0, 0, 0, 0.4);
  border-radius: 50%;

}


/* Keyframes */

@keyframes movepic {
  0% {left: 1000px;}
  100% {left: 0px;}
}

@keyframes introNme {
  0% {top: -500px;}
  100% {top: 0px;}
}

@keyframes change-background {
  0% {
    background: $color-pale;
  }
  50% {
    background: $color-mid;
  }
  100% {
    background: $color-primary;
  }
}



/* skills sectons */

#servicesH1 {
  font-family: $header-font;
  margin-top: 4rem;
}

.services .icon-box {
  padding: 20px 15px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 29px 0 rgba(5, 5, 5, 0.246);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  text-align: center;
  z-index: 1;
}
.services .icon-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  transition: ease-in-out 0.3s;
  z-index: -1;
}
.services .icon-box:hover::before {
  animation: change-background 2s ease infinite;
  height: 100%;
  border-radius: 0px;
}
.services .icon {
  margin: 0 auto 30px auto;
  padding-top: 10px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: $color-pale;
  transition: all 0.3s ease-in-out;
}
.services .icon i {
  font-size: 36px;
  line-height: 1;
  color: #fff;
}
.services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}
.services .title a {
  color: #111;
}
.services .description {
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 0;
}
.services .icon-box:hover .title a, .services .icon-box:hover .description {
  color: #fff;
}
.services .icon-box:hover .icon {
  background: #fff;
}
.services .icon-box:hover .icon i {
  color: $color-primary;
}
@media (max-width: 768px) {
  .services .icon-box::before {
    bottom: 60%;
  }
} 

/* Resume styles */

#resume {
  margin-bottom: 3rem;
}

.resume .resume-title {
  font-size: 26px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 20px;
  color: $color-pale;
  font-family: 'Mulish', sans-serif;
}
.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid $color-primary;
  position: relative;
}
.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  color: $color-mid;
}
.resume .resume-item h5 {
  font-size: 16px;
  background: $color-secondary;
  padding: 5px 15px;
  display: inline-block;
  margin-bottom: 10px;
}
.resume .resume-item ul {
  padding-left: 20px;
}
.resume .resume-item ul li {
  padding-bottom: 10px;
}
.resume .resume-item:last-child {
  padding-bottom: 0;
}
.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid $color-mid;
} 


#port-main {
  background-color: $color-pale;

}

.project-cards{
  box-shadow: 0 0 29px 0 rgba(21, 22, 22, 0.4);

}

#contactFrm{
  margin-top: 15rem;
}

.coloredBody{
  background-color: $color-secondary;
}
